@media screen and (max-width: 480px) {
    .main {
        height: 1675px;
        width: 480px;
        box-sizing: border-box;
    }
    .menu {
        width: 400px;
        padding-top: 20px;
    }
    .h350px {
        height: 600px;
    }
    .contact {
        width: 480px;
        height: 1000px;
        flex-wrap: wrap;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (orientation: landscape) and (max-width: 812px){
    .main {
        height: 770px;
        width: 812px;
        box-sizing: border-box;
    }
    .contact {
        width: 812px;
        height: 370px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 481px) and (max-width: 575px){
    .main {
        height: 1675px;
        width: 575px;
        box-sizing: border-box;
    }
    .menu {
        width: 500px;
        padding-top: 20px;
    }
    .h350px {
        height: 600px;
    }
    .contact {
        width: 575px;
        height: 1020px;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 40px;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (orientation: landscape) and (min-width: 813px) and (max-width: 1024px) {
    .main {
        height: 770px;
        width: 1024px;
        box-sizing: border-box;
    }
    .contact {
        width: 1024px;
        height: 370px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .main {
        height: 1675px;
        width: 768px;
        box-sizing: border-box;
    }
    .menu {
        width: 700px;
        padding-top: 20px;
    }
    .h350px {
        height: 600px;
    }
    .contact {
        width: 768px;
        height: 1000px;
        flex-wrap: wrap;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-height: 1024px) and
(max-height: 1024px) {
    .main {
        height: 1024px;
        width: 768px;
        box-sizing: border-box;
    }
    .menu {
        width: 700px;
        padding-top: 20px;
    }
    .h350px {
        height: 520px;
    }
    .contact {
        width: 768px;
        height: 450px;
        align-items: center;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 375px) and (max-height: 812px) {
    .main {
        height: 2100px;
        width: 375px;
        box-sizing: border-box;
    }
    .menu {
        width: 700px;
        padding-top: 20px;
    }
    .h350px {
        height: 1000px;
    }
    .contact {
        width: 375px;
        height: 1000px;
        flex-wrap: wrap;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (width: 1280px) and (height: 800px) {
    .main {
        height: 800px;
        width: 1280px;
        box-sizing: border-box;
    }
    .menu {
        width: 1180px;
        padding-top: 20px;
        align-items: center;
    }
    .contact {
        width: 1280px;
        height: 350px;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (width: 1280px) and (height: 720px) {
    .main {
        height: 750px;
        width: 1280px;
        box-sizing: border-box;
    }
    .menu {
        width: 1180px;
        padding-top: 20px;
        align-items: center;
    }
    .contact {
        width: 1280px;
        height: 350px;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and  (width: 1600px) and (height: 900px) {
    .main {
             height: 900px;
             width: 1600px;
             box-sizing: border-box;
         }
    .menu {
        width: 1500px;
        padding-top: 20px;
        align-items: center;
    }
    .contact {
        width: 1600px;
        height: 500px;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (width: 1920px) and (height: 1080px) {
    .main {
        height: 1080px;
        width: 1920px;
        box-sizing: border-box;
    }

    .menu {
        width: 1800px;
        padding-top: 60px;
    }

    .h350px {
        height: 500px;
    }

    .contact {
        width: 1920px;
        justify-content: space-evenly;
        align-items: center;
    }
}
