body {
    margin: 0;
}
.main-wrapper {
    height: 650px;
    background: #9c9c9c;
    border-left: 6px solid #4c4747;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-wrapper {
    height: 600px;
    width: 1300px;
    background: #ffffff;
    border: 2px solid black;
    border-radius: 14px;
    box-sizing: border-box;
    padding: 8px;
}
.box-a,.box-b {
    height: 190px;
    background: #4c4747;
}
.third-wrap {
    width: 1280px;
    display: flex;
}
.box-b {
    margin: 8px 8px 0 0;
    width: 1000px;
}
.fourth-wrap {
    display: flex;
    width: 1000px;
}
.box-c,.box-d,.box-e {
    width: 100%;
    height: 182px;
    background: #4c4747;
    margin: 200px 8px 0 0;
}
.box-e {
    margin: 200px 0 0 0;
}
.box-f {
    width: 272px;
    height: 380px;
    background: #30fc96;
    margin: 8px 0 0 0;
}
