body {
    margin: 0;
}
.father {
    width: 1350px;
}
.header {
    align-items: stretch;
    background: #1631d2;
    height: 100px;
}
.nav {
    align-items: stretch;
    background: #1b3fad;
    height: 50px;
}
.wrap {
    display: flex;
}
.main {
    width: 70%;
    background: #07a39f;
    height: 400px;
}
.a-side {
    width: 30%;
    background: #6795bd;
    height: 400px;
}
.footer {
    align-items: stretch;
    background: #30fc96;
    height: 100px;
}