body {
    margin: 0;
}
.header {
    background: #ba6b09;
    width: 1300px;
    height: 100px;
    margin: 2px;
}
.wrap {
    display: flex;
}
.menu {
    width: 400px;
    height: 402px;
    background: #f800d7;
    margin: 2px;
}
.column {
    display: flex;
    flex-direction: column;
}
.post {
    width: 896px;
    height: 200px;
    background: #1b3fad;
    margin: 2px 0 0 2px
}
.footer {
    margin: 2px;
    background: #49ff1b;
    width: 1300px;
    height: 100px;
}
